html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100vw;   /* full width of viewport */
  height: 100vh;  /* full height of viewport */
}

.left {
  flex: 1;
  background-color: #F5E6C8;
}

.right {
  flex: 3;
  background-color: #FFF8E7;
}
